{% extends 'base.html.twig' %}

{% block title %}Companies - The Comments{% endblock %}

{% block body %}
    <div>
        <h1 class="mt-5">Companies</h1>
        {% set errors = app.session.flashbag.get('formErrors') %}
        {% if errors | length %}
            {% for flashMessage in errors %}
                <p class="alert-warning">{{ flashMessage }}</p>
            {% endfor %}
        {% endif %}

        {% set messages = app.session.flashbag.get('messages') %}
        {% if messages | length %}
            {% for flashMessage in messages %}
                <p class="alert-success">{{ flashMessage }}</p>
            {% endfor %}
        {% endif %}

        {% for company in companies %}
            <p style="font-size: 35px" class="mt-5">
                {% if company.logo %}
                    <img src="{{ vich_uploader_asset(company, 'logoFile') }}"/>
                {% endif %}  
                <a href="{{ path('company_one', { 'id' : company.id }) }}">
                    {{ company.name }}
                </a>
            </p>
            <p>
                {% set rating = company.rating | round %}
                {% for i in range(1, rating) %}
                    <i class="fa fa-star"></i>
                {% endfor %}
                {{ company.rating }}
            </p>
            <p class="lead"> {{ company.description }}</p>
            <p>{{ company.location }}</p>
        {% endfor %}

        <h2>Add company</h2>
        {{ form(formCompany, {'method': 'POST', 'action': path('company_add')}) }}

        {{ knp_pagination_render(companies) }}
    </div>
{% endblock %}
