{% extends 'base.html.twig' %}

{% block title %}Search - The Comments{% endblock %}

{% block body %}
    <div>
        <h1 class="mt-5">Search "{{ app.request.get('search') }}"</h1>
        {% set errors = app.session.flashbag.get('formErrors') %}

        {% for company in companies %}
            <p style="font-size: 35px" class="mt-5">
                {% if company.logo %}
                    <img src="{{ vich_uploader_asset(company, 'logoFile') }}"/>
                {% endif %}  
                <a href="{{ path('company_one', { 'id' : company.id }) }}">
                    {{ company.name }}
                </a>
            </p>
            <p>
                {% set rating = company.rating | round %}
                {% for i in range(1, rating) %}
                    <i class="fa fa-star"></i>
                {% endfor %}
                {{ company.rating }}
            </p>
            <p class="lead"> {{ company.description }}</p>
            <p>{{ company.location }}</p>
        {% endfor %}


        {{ knp_pagination_render(companies) }}
    </div>
{% endblock %}
