{% extends 'base.html.twig' %}

{% block title %}{{ company.name }} - Company - The Comments{% endblock %}

{% block body %}
<div>
    <h1>{{ company.name }}</h1>
    <p>
        {% set rating = company.rating | round %}
        {% for i in range(1, rating) %}
            <i class="fa fa-star"></i>
        {% endfor %}
        {{ company.rating }}
    </p>
    <div>
        Location: {{ company.location }}
    </div>
    <div>
        Description: {{ company.description }}
    </div>
    <h2>Comments:</h2>
    {% set errors = app.session.flashbag.get('formErrors') %}
    {% if errors | length %}
        {% for flashMessage in errors %}
            <p class="alert-warning">{{ flashMessage }}</p>
        {% endfor %}
    {% endif %}

    {% set messages = app.session.flashbag.get('messages') %}
    {% if messages | length %}
        {% for flashMessage in messages %}
            <p class="alert-success">{{ flashMessage }}</p>
        {% endfor %}
    {% endif %}

    <a class="add-comment" href="{{ path('comment_add', { 'id': company.id }) }}"> Add </a>
    <div class="comment-container"></div>
    <ul>
        {% for comment in comments %}
            <li>
                Author {{ comment.author }}
                {% set rating = comment.rating | round %}
                {% for i in range(1, rating) %}
                    <i class="fa fa-star"></i>
                {% endfor %}
                {{ comment.rating }}
                <br />
                {{ comment.comment }}
                <br />
                Date: {{ comment.createdAt | date("Y-m-d") }}
                <br />
                Likes:
                <a class="add-like" href="{{ path('like_create', { 'id' : comment.id }) }}" data-like="1">+</a>
                {{ comment.positiveLikes | length }}
                |
                <a class="add-like" href="{{ path('like_create', { 'id' : comment.id }) }}" data-like="0">-</a>
                {{ comment.negativeLikes | length }}
                <br />
                {% if comment.isDeleted() %}
                    <a href="{{ path('comment_delete', { 'id': comment.id }) }}">Delete</a>
                {% endif %}
                <br />
                <a class="add-complain" href="{{ path('complain_create', { 'id': comment.id }) }}"> Complain </a>
                <div class="complain-container"></div>
                {% if comment.children %}
                    <ul>
                        {% for child in comment.children %}
                            <li>
                                Author {{ child.author }}
                                {% set rating = child.rating | round %}
                                {% for i in range(1, rating) %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                                {{ child.rating }}
                                <br />
                                {{ child.comment }}
                                <br />
                                Date: {{ child.createdAt | date("Y-m-d") }}
                                <br />
                                Likes:
                                <a class="add-like" href="{{ path('like_create', { 'id' : child.id }) }}" data-like="1">+</a>
                                {{ child.positiveLikes | length }}
                                |
                                <a class="add-like" href="{{ path('like_create', { 'id' : child.id }) }}" data-like="0">-</a>
                                {{ child.negativeLikes | length }}
                                <br />
                                {% if child.isDeleted() %}
                                    <a href="{{ path('comment_delete', { 'id': child.id }) }}">Delete</a>
                                {% endif %}
                                <br />
                                <a class="add-complain" href="{{ path('complain_create', { 'id': comment.id }) }}"> Complain </a>
                                <div class="complain-container"></div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a class="add-comment" href="{{ path('comment_add_child', { 'id': company.id, 'comment_id': comment.id }) }}"> Replay </a>
                <div class="comment-container"></div>
                <br />
                <br />
            </li>
        {% endfor %}
    </ul>
    <div id="comment" style="display: none">{{ form(formComment, {'method': 'POST'}) }}</div>
    <div id="complain" style="display: none">{{ form(formComplain, {'method': 'POST'}) }}</div>
    <div id="like" style="display: none">{{ form(formLike, {'method': 'POST'}) }}</div>
    {{ knp_pagination_render(comments) }}
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.add-comment').on('click', function (e) {
                e.preventDefault();
                $('form[name=comment]').attr('action', $(this).attr('href'));
                $('.comment-container').empty();
                $(this).next('.comment-container').html($('#comment').html());
            })
            $('.add-complain').on('click', function (e) {
                e.preventDefault();
                $('form[name=complain]').attr('action', $(this).attr('href'));
                $('.complain-container').empty();
                $(this).next('.complain-container').html($('#complain').html());
            })

            $('.add-like').on('click', function (e) {
                e.preventDefault();
                $('form[name=like]').attr('action', $(this).attr('href'));
                $('#like_positive').val($(this).data('like'));
                $('form[name=like]').submit();
            })
        })
    </script>
{% endblock %}
